@{
    ViewData["Title"] = "Home Page";
    List<Todos.Entities.Todo> todos = ViewBag.Todos;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (todos != null) {
    foreach (var i in ViewBag.Todos) {

        <p>  @i.Title , @i.TaskDescirption, @i.DueDate</p>
    }
}
